# ==========================================
# Service Downstream URLs
# ==========================================
AUTH_SERVICE_URL=http://localhost:3001
CATALOG_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
INVENTORY_SERVICE_URL=http://localhost:3004
FULFILLMENT_SERVICE_URL=http://localhost:3005
ANALYTICS_SERVICE_URL=http://localhost:3000

# ==========================================
# Application Configurations
# ==========================================
PORT=8080
